* {margin: 0; padding: 0;}
html {scroll-behavior: smooth;}
body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.bg {
	width: 100%;
	height: 20vh;
	background-color: #000;
	background-image: url("design/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	outline: 5px solid #fff;
}

.logo {
	width: 18vh;
	height: 18vh;
	background-color: #000;
	background-image: url("design/logo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 5px solid #fff;
	margin-top: 11vh;
	border-radius: 50%;
	position: absolute;

	animation: logo 20s infinite linear;
	animation-delay: 15s;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@keyframes logo {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 10vh;
	margin-bottom: 20px;
}

.list .social {
	display: flex;
	flex-direction: row;
	background-color: #0097FF;

	width: 80%;
	height: 10vh;

	border-radius: 50px	;

	align-items: center;

	text-decoration: none;
	color: #fff;

	margin-top: 20px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}
.list .social:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}

.social .icon {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
}
.social .name {
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 150%;
}
.icon img {
	width: 35px;
	height: 35px;
}

.footer {
	font-size: 10px;
	color: #fff;
	margin-bottom: 10px;
}

/**/


#instagram {background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);}
#youtube {background-color: red;}
#vkontakte {background-color: #5181B8;}
#soundcloud {background-color: #F86110;}
#telegram {background-color: #31A8E0;}
#tiktok {background-color: #000;}
#beatstars {background-color: #cc0000;}
#twitter {background-color: #5EA9DD;}
#facebook {background-color: #1877F2;}

.cover {
	display: none;
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100vh;
}